Source: guh-plugins
Section: utils
Priority: options
Maintainer: Michael Zanetti <michael.zanetti@guh.io>
Build-depends: debhelper (>= 0.0.0),
               libguh1-dev,
               libqt5serialport5-dev,
               python:any,
               qtbase5-dev,
               qtconnectivity5-dev,
Standards-Version: 3.9.3

Package: guh-plugin-avahimonitor
Architecture: any
Section: libs
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for avahimonitor
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for avahimonitor

Package: guh-plugin-awattar
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for awattar
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for awattar

Package: guh-plugin-commandlauncher
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for commandlauncher
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for commandlauncher

Package: guh-plugin-conrad
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for conrad
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for conrad

Package: guh-plugin-datetime
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for datetime
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for datetime

Package: guh-plugin-denon
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for denon
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for denon

Package: guh-plugin-dollhouse
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for dollhouse
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for dollhouse

Package: guh-plugin-elgato
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for elgato
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for elgato

Package: guh-plugin-elro
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for elro
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for elro

Package: guh-plugin-eq-3
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for eq-3
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for eq-3

Package: guh-plugin-genericelements
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for genericelements
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for genericelements

Package: guh-plugin-gpio
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for gpio
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for gpio

Package: guh-plugin-intertechno
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for intertechno
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for intertechno

Package: guh-plugin-kodi
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for kodi
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for kodi

Package: guh-plugin-leynew
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for leynew
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for leynew

Package: guh-plugin-lgsmarttv
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for lgsmarttv
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for lgsmarttv

Package: guh-plugin-lircd
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for lircd
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for lircd

Package: guh-plugin-mailnotification
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for mailnotification
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for mailnotification

Package: guh-plugin-netatmo
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for netatmo
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for netatmo

Package: guh-plugin-networkdetector
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         nmap
Description: guh.io plugin for networkdetector
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for networkdetector

Package: guh-plugin-openweathermap
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for openweathermap
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for openweathermap

Package: guh-plugin-orderbutton
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for orderbutton
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for orderbutton

Package: guh-plugin-osdomotics
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for osdomotics
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for osdomotics

Package: guh-plugin-philipshue
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for philipshue
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for philipshue

Package: guh-plugin-plantcare
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for plantcare
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for plantcare

Package: guh-plugin-senic
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for senic
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for senic

Package: guh-plugin-udpcommander
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for udpcommander
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for udpcommander

Package: guh-plugin-unitec
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for unitec
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for unitec

Package: guh-plugin-wakeonlan
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for wakeonlan
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for wakeonlan

Package: guh-plugin-wemo
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for wemo
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for wemo

Package: guh-plugin-ws2812
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: guh.io plugin for ws2812
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the guh.io plugin for ws2812

Package: guh-plugins-maker
Section: libs
Architecture: all
Depends: guh-plugin-lircd,
         guh-plugin-commandlauncher,
         guh-plugin-udpcommander,
         guh-plugin-avahimonitor,
         guh-plugin-gpio,
Description: Plugins for guh IoT server - for makers, tinkers and hackers
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install guh plugins for maker, tinker and hackers.

Package: guh-plugins-merkur
Section: libs
Architecture: all
Depends: guh-plugin-osdomotics,
         guh-plugin-dollhouse,
         guh-plugin-plantcare,
         guh-plugin-ws2812,
         guh-plugin-orderbutton,
Description: Plugins for guh IoT server - 6LoWPAN Merkur boards
 The guh daemon is a plugin based IoT (Internet of Things) server. The
 server works like a translator for devices, things and services and
 allows them to interact.
 With the powerful rule engine you are able to connect any device available
 in the system and create individual scenes and behaviors for your environment.
 .
 This package will install the 6LoWPAN Merkur board plugins for guh.

Package: guh-plugins-all
Section: libs
Architecture: all
Depends: guh-plugins-maker,
         guh-plugins-merkur,
         guh-plugin-awattar,
         guh-plugin-conrad,
         guh-plugin-datetime,
         guh-plugin-denon,
         guh-plugin-elgato,
         guh-plugin-elro,
         guh-plugin-eq-3,
         guh-plugin-genericelements,
         guh-plugin-intertechno,
         guh-plugin-kodi,
         guh-plugin-leynew,
         guh-plugin-lgsmarttv,
         guh-plugin-mailnotification,
         guh-plugin-netatmo,
         guh-plugin-networkdetector,
         guh-plugin-openweathermap,
         guh-plugin-philipshue,
         guh-plugin-plantcare,
         guh-plugin-senic,
         guh-plugin-unitec,
         guh-plugin-wakeonlan,
         guh-plugin-wemo,
Description: Plugins for guh IoT server - Meta package for all plugins
 The guh daemon is a plugin based IoT (Internet of Things) server. The		
 server works like a translator for devices, things and services and		
 allows them to interact.		
 With the powerful rule engine you are able to connect any device available		
 in the system and create individual scenes and behaviors for your environment.		
 .		
 This package will install all the available plugins for guh.
