#!/usr/bin/make -f

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

PREPROCESS_FILES := $(wildcard debian/*.in)

$(PREPROCESS_FILES:.in=): %: %.in
	sed 's,/@DEB_HOST_MULTIARCH@,$(DEB_HOST_MULTIARCH:%=/%),g' $< > $@
	chmod --reference=$< $@

%:
	dh $@ --parallel

override_dh_auto_build:
	dh_auto_build
	make lrelease

override_dh_install: $(PREPROCESS_FILES:.in=)
	dh_install --fail-missing

override_dh_auto_clean:
	dh_auto_clean
	find -name *plugininfo.h -exec rm {} \;
	find -name *.qm -exec rm {} \;
	rm -rf $(PREPROCESS_FILES:.in=)

override_dh_shlibdeps:
	# Excluding numpy as it links against binaries in a plugins module dir
	# which can't be found by shlibdeps.
	# A better way would be to generate lib paths to them...
	dh_shlibdeps --exclude=numpy
